# Python
__pycache__/
*.py[cod]
*$py.class

# Virtuella miljöer
.venv/
.build_venv/
env/
venv/
ENV/

# Byggfiler
dist/
build/
*.spec

# Projekt-specifikt
ytrss.db
ytrss.db-journal

# Backup-filer
ytrss.py.*
*_202*-*-*

# System-specifikt
.DS_Store
.vscode/
.idea/
*.mp4

# Personal / Planning
todo.md
förslag_på_tillvägagångsätt.md